Slim      821167275  8  4 f   -     -     -          520    0    0 
Slim      821167345  8  3 cc  kc    kf    -          520   30    0 
Slim      821167437  9  2 Bk  kc    k     kr         490   60  160 Qc Kc
Slim      821167522  6  1 Bc  k     kc    kf         590   40    0 
Slim      821167616  6  6 cc  c     b     b          550   80  270 
Slim      821167753  8  7 c   c     bc    kc         740   80    0 4c Kd
Slim      821167837  8  6 f   -     -     -          660    0    0 
Slim      821167913  8  5 cc  kf    -     -          660   20    0 
Slim      821167991  7  4 f   -     -     -          640    0    0 
Slim      821168015  7  3 f   -     -     -          640    0    0 
Slim      821168076  9  2 Bf  -     -     -          640   10    0 
Slim      821168155  9  1 Bf  -     -     -          630    5    0 
Slim      821168228  8  8 f   -     -     -          625    0    0 
Slim      821168335  8  7 f   -     -     -          625    0    0 
Slim      821168386  9  7 f   -     -     -          625    0    0 
Slim      821168472  9  6 rc  c     b     b          625   80    0 Kc Ac
Slim      821168569 10  5 c   kf    -     -          545   10    0 
Slim      821168663 10  4 f   -     -     -          535    0    0 
Slim      821168723  9  3 ccc cc    c     c          535  110    0 Kh Ts
Slim      821168831 10  2 Bk  kc    kc    kc         425   70    0 Kh Qh
Slim      821168934 11  1 Bc  kcc   kc    kc         355   90    0 Qs Jd
Slim      821169053 11 11 c   f     -     -          265   10    0 
Slim      821169133 10  9 f   -     -     -          255    0    0 
Slim      821169208 12 10 c   cc    c     b          255   90  310 4d Ac
Slim      821169302 12  9 c   cc    k     b          475   50  230 Kd Ad
Slim      821169420 12  8 c   cc    kc    c          655   70    0 Ts Ac
Slim      821169541 12  7 f   -     -     -          585    0    0 
Slim      821169631 12  6 f   -     -     -          585    0    0 
Slim      821169704 12  5 c   b     bc    kc         585   80    0 9h 9c
Slim      821169830 10  3 cc  c     f     -          505   30    0 
Slim      821169899 10  3 f   -     -     -          475    0    0 
Slim      821170003  9  1 Bf  -     -     -          475   10    0 
Slim      821170114  9  1 Bc  bc    b     b          465   80  220 Qc Qs
Slim      821170199  9  9 fQ  -     -     -          605    0    0 
Slim      821255592  3  2 Bf  -     -     -          605   10    0 
Slim      821255628  4  1 Bc  kcc   kf    -          595   30    0 
Slim      821255723  3  3 cc  b     b     k          565   50    0 8s Ah
Slim      821255778  3  2 Bk  kc    bc    br         515  120  250 Ts 9h
Slim      821255845  3  1 Bcf -     -     -          645   10    0 
Slim      821255891  4  4 c   b     rr    b          635  120  255 9d Jd
Slim      821255949  4  3 f   -     -     -          770    0    0 
Slim      821256008  4  2 Bc  b     b     b          770   70  145 3s 3h
Slim      821256052  4  1 Bf  -     -     -          845    5    0 
Slim      821256096  4  4 f   -     -     -          840    0    0 
Slim      821256143  5  4 f   -     -     -          840    0    0 
Slim      821256166  5  4 f   -     -     -          840    0    0 
Slim      821256201  4  2 Bf  -     -     -          840   10    0 
Slim      821256241  4  1 Bc  kf    -     -          830   10    0 
Slim      821256266  4  4 f   -     -     -          820    0    0 
Slim      821256285  4  3 f   -     -     -          820    0    0 
Slim      821256292  4  2 Bk  rc    b     b          820   80    0 Kh 9s
Slim      821256367  5  1 Bf  -     -     -          740    5    0 
Slim      821256395  5  5 c   cf    -     -          735   20    0 
Slim      821256455  5  4 f   -     -     -          715    0    0 
Slim      821256479  5  3 f   -     -     -          715    0    0 
Slim      821256521  5  2 Bk  f     -     -          715   10    0 
Slim      821256550  5  1 Bf  -     -     -          705    5    0 
Slim      821256591  5  5 f   -     -     -          700    0    0 
Slim      821256636  5  4 f   -     -     -          700    0    0 
Slim      821256644  5  3 cf  -     -     -          700   10    0 
Slim      821256687  6  2 Bc  bc    kc    k          690   60    0 8d 3d
Slim      821256752  6  1 Bf  -     -     -          630    5    0 
Slim      821256810  8  8 f   -     -     -          625    0    0 
Slim      821256843  8  7 f   -     -     -          625    0    0 
Slim      821256902  8  6 f   -     -     -          625    0    0 
Slim      821256997  8  5 f   -     -     -          625    0    0 
Slim      821257093  8  4 f   -     -     -          625    0    0 
Slim      821257163  6  4 f   -     -     -          625    0    0 
Slim      821257256  5  3 f   -     -     -          625    0    0 
Slim      821257297  6  2 Bf  -     -     -          625   10    0 
Slim      821257350  6  1 Bc  k     kf    -          615   10    0 
Slim      821257416  6  6 f   -     -     -          605    0    0 
Slim      821257469  7  6 c   c     br    r          605  120    0 9c Qc
Slim      821257558  7  5 cc  kc    kc    k          485   50  160 Jd 8c
Slim      821257642  8  5 cc  b     rr    r          595  150  370 Ah Ac
Slim      821257742  7  4 c   kc    kf    -          815   20    0 
Slim      821257811  8  3 c   cc    k     kc         795   50    0 Ad 9s
Slim      821257886  9  2 Bk  kc    kc    k          745   50    0 Qc Td
Slim      821257995 10  1 Bc  kc    kf    -          695   30    0 
Slim      821258123  9  9 c   c     c     f          665   40    0 
Slim      821258179  6  4 Q   -     -     -          625    0    0 
Slim      821341222  8  5 f   -     -     -          625    0    0 
Slim      821341278  9  4 c   bc    kc    kc         625   70    0 Ac 4h
Slim      821341394  9  3 f   -     -     -          555    0    0 
Slim      821341439  8  2 B   -     -     -          555   10   15 
Slim      821341453  8  1 Bf  -     -     -          560    5    0 
Slim      821341523  8  8 c   r     b     b          555   70  175 
Slim      821341601  8  7 f   -     -     -          660    0    0 
Slim      821341666  9  6 f   -     -     -          660    0    0 
Slim      821341851  8  5 c   c     bc    c          660   90    0 7c Kc
Slim      821341975  8  5 f   -     -     -          570    0    0 
Slim      821342094  8  4 f   -     -     -          570    0    0 
Slim      821342198  7  2 Bc  f     -     -          570   20    0 
Slim      821342237  4  1 BQ  -     -     -          550    5    0 
Slim      821427394 11 11 f   -     -     -          545    0    0 
Slim      821427496  7  6 f   -     -     -          545    0    0 
Slim      821427549  7  5 f   -     -     -          545    0    0 
Slim      821427593  7  5 f   -     -     -          545    0    0 
Slim      821427634  6  4 c   c     c     c          545   60    0 5s 4s
Slim      821427696  5  2 Bk  b     b     -          485   40   80 
Slim      821427750  5  1 Bf  -     -     -          525    5    0 
Slim      821427775  5  5 c   b     -     -          520   20   45 
Slim      821427800  5  4 cc  b     b     -          545   50  110 
Slim      821427888  6  3 f   -     -     -          605    0    0 
Slim      821427980  7  2 Bc  b     kc    b          605   80  340 Kh Qc
Slim      821428069  7  1 Bf  -     -     -          865    5    0 
Slim      821428160  7  7 c   c     f     -          860   20    0 
Slim      821428209  6  6 f   -     -     -          840    0    0 
Slim      821428254  6  5 f   -     -     -          840    0    0 
Slim      821428339  6  4 cc  c     k     rrrc       840  170    0 4d 4c
Slim      821428528  5  3 cc  bc    br    b          670  120  290 Js Td
Slim      821428631  5  2 Bk  c     c     c          840   60    0 7d 7h
Slim      821428691  5  1 Bc  k     bc    kc         780   70    0 9c 9d
Slim      821428769  5  5 c   c     c     c          710   70    0 Kh Qs
Slim      821428817  6  4 cc  b     c     c          640   80    0 Tc Ts
Slim      821428887  6  3 f   -     -     -          560    0    0 
Slim      821428943  6  2 Bf  -     -     -          560   10    0 
Slim      821429000  6  1 Bc  kc    kc    k          550   50    0 Ah 9s
Slim      821429061  6  6 c   rc    c     c          500   80  310 Ks Js
Slim      821429138  7  6 f   -     -     -          730    0    0 
Slim      821429174  7  5 f   -     -     -          730    0    0 
Slim      821429217  7  4 f   -     -     -          730    0    0 
Slim      821429323  6  3 c   b     r     b          730   80  240 Kc Tc
Slim      821429404  7  2 Bf  -     -     -          890   10    0 
Slim      821429446  7  1 Bc  kf    -     -          880   10    0 
Slim      821429539  7  7 f   -     -     -          870    0    0 
Slim      821429567  6  5 f   -     -     -          870    0    0 
Slim      821429604  6  5 c   f     -     -          870   20    0 
Slim      821429662  6  4 f   -     -     -          850    0    0 
Slim      821429696  6  3 cc  kc    b     brrc       850  170    0 7c Kc
Slim      821429773  6  2 Bf  -     -     -          680   10    0 
Slim      821429822  6  1 Bf  -     -     -          670    5    0 
Slim      821429865  5  5 c   k     b     -          665   30   55 
Slim      821429902  5  4 r   -     -     -          690   20   35 
Slim      821429923  4  2 Bf  -     -     -          705   10    0 
Slim      821429959  4  1 Bc  bc    bc    bc         695  120    0 Ah 5s
Slim      821430012  4  4 f   -     -     -          575    0    0 
Slim      821430048  5  3 cc  kf    -     -          575   20    0 
Slim      821430124  4  1 Bf  -     -     -          555   10    0 
Slim      821430145  4  1 Bc  kc    k     b          545   40   70 
Slim      821430191  4  4 f   -     -     -          575    0    0 
Slim      821430203  4  3 f   -     -     -          575    0    0 
Slim      821430241  4  2 B   -     -     -          575   10   15 
Slim      821430253  4  1 Bc  kc    kc    kc         580   60    0 6d Th
Slim      821430318  4  4 f   -     -     -          520    0    0 
Slim      821430357  5  4 c   k     c     r          520   70  140 
Slim      821430440  6  5 f   -     -     -          590    0    0 
Slim      821430502  6  4 f   -     -     -          590    0    0 
Slim      821430632  6  2 c   b     b     -          590   40   80 
Slim      821430688  5  2 Bf  -     -     -          630   10    0 
Slim      821430750  6  1 Bf  -     -     -          620    5    0 
Slim      821430812  7  7 cc  c     c     c          615   90    0 Ah 6s
Slim      821430898  7  6 f   -     -     -          525    0    0 
Slim      821430943  7  5 f   -     -     -          525    0    0 
Slim      821431000  7  4 f   -     -     -          525    0    0 
Slim      821431065  7  3 f   -     -     -          525    0    0 
Slim      821431163  6  2 Bf  -     -     -          525   10    0 
Slim      821431273  7  1 Bf  -     -     -          515    5    0 
Slim      821431361  6  6 f   -     -     -          510    0    0 
Slim      821431409  7  6 c   c     c     f          510   40    0 
Slim      821431493  7  4 cc  b     r     b          470   90    0 Jh As
Slim      821431605  7  4 f   -     -     -          380    0    0 
Slim      821431651  7  3 cc  rc    kc    kc         380  100    0 Kd 6h
Slim      821431785  8  2 Br  b     b     b          280   80  210 
Slim      821431856  8  1 Bc  bc    kc    br         410  110  280 
Slim      821431975  8  8 f   -     -     -          580    0    0 
Slim      821432020  7  6 cc  f     -     -          580   30    0 
Slim      821432087  7  5 f   -     -     -          550    0    0 
Slim      821432196  8  5 f   -     -     -          550    0    0 
Slim      821432278  8  4 f   -     -     -          550    0    0 
Slim      821432337  9  4 f   -     -     -          550    0    0 
Slim      821432433  9  3 f   -     -     -          550    0    0 
Slim      821432567 10  2 Bf  -     -     -          550   10    0 
Slim      821432650 10  1 Bc  kc    kc    krc        540  100    0 8s Kh
Slim      821432812 11 11 f   -     -     -          440    0    0 
Slim      821432945 10  9 f   -     -     -          440    0    0 
Slim      821432993 10  8 c   r     c     c          440   70    0 Ah 7c
Slim      821433078 10  7 fQ  -     -     -          370    0    0 
Slim      821596513  7  2 Bc  kc    kc    kc         370   90    0 Jc Ks
Slim      821596590  7  1 Bc  k     k     k          280   20    0 Qc Tc
Slim      821596713  8  8 c   c     r     -          260   80  285 
Slim      821596837  8  7 cc  kf    -     -          465   20    0 
Slim      821597002  9  7 cc  k     kf    -          445   20    0 
Slim      821597152 10  7 f   Q     -     -          425    0    0 
Slim      821681400  3  3 f   -     -     -          425    0    0 
Slim      821681444  4  3 f   -     -     -          425    0    0 
Slim      821681533  4  2 Bk  k     k     k          425   10   25 7h 9c
Slim      821681579  4  1 Bc  k     k     kc         440   30  120 As 8c
Slim      821681748  4  4 f   -     -     -          530    0    0 
Slim      821681794  4  3 cf  -     -     -          530   10    0 
Slim      821681827  4  2 Bk  kf    -     -          520   10    0 
Slim      821681941  6  1 Bf  -     -     -          510    5    0 
Slim      821682041  6  6 f   -     -     -          505    0    0 
Slim      821682135  7  6 c   bc    b     k          505   50    0 4c Ad
Slim      821682216  6  4 f   -     -     -          455    0    0 
Slim      821682300  5  3 f   -     -     -          455    0    0 
Slim      821682368  6  2 Bk  kf    -     -          455   10    0 
Slim      821682420  6  1 Bc  kf    -     -          445   10    0 
Slim      821682485  6  6 f   -     -     -          435    0    0 
Slim      821682581  6  5 f   -     -     -          435    0    0 
Slim      821682643  7  5 f   -     -     -          435    0    0 
Slim      821682720  7  4 f   -     -     -          435    0    0 
Slim      821682808  7  3 c   b     r     c          435   80  195 Qd 7c
Slim      821682856  7  2 Br  b     bc    k          550   70    0 6s 6d
Slim      821682918  7  1 Bf  -     -     -          480    5    0 
Slim      821683009  7  7 c   cc    b     b          475   70  230 Ah Jc
Slim      821683101  7  6 f   -     -     -          635    0    0 
Slim      821683149  7  5 c   c     c     c          635   60    0 As 9c
Slim      821683219  7  4 f   -     -     -          575    0    0 
Slim      821683270  7  3 f   -     -     -          575    0    0 
Slim      821683297  7  2 Bk  b     -     -          575   20   40 
Slim      821683327  7  1 Bf  -     -     -          595    5    0 
Slim      821683383  7  7 c   c     b     -          590   40   80 
Slim      821683456  6  5 c   b     b     -          630   40   85 
Slim      821683493  6  4 f   -     -     -          675    0    0 
Slim      821683538  6  3 f   -     -     -          675    0    0 
Slim      821683554  6  2 Bk  kf    -     -          675   10    0 
Slim      821683618  7  1 Bc  kf    -     -          665   10    0 
Slim      821683678  6  6 f   -     -     -          655    0    0 
Slim      821683727  6  6 f   -     -     -          655    0    0 
Slim      821683804  7  5 f   -     -     -          655    0    0 
Slim      821683837  7  4 f   -     -     -          655    0    0 
Slim      821683870  7  4 c   k     b     f          655   30    0 
Slim      821683919  6  2 Bc  kc    kc    b          625   70    0 As 6h
Slim      821683990  7  1 Bc  bc    kc    kc         555   70  200 Kd 6c
Slim      821684099  8  8 c   c     c     f          685   50    0 
Slim      821684192  7  6 c   c     cf    -          635   50    0 
Slim      821684267  8  6 fQ  -     -     -          585    0    0 
Slim      821773227  5  3 c   k     kf    -          585   10    0 
Slim      821773435  3  2 Bf  -     -     -          575   10    0 
Slim      821773447  3  1 Bc  b     -     -          565   30   60 
Slim      821773461  4  4 c   c     c     c          595   90    0 Ah Js
Slim      821773528  4  3 f   -     -     -          505    0    0 
Slim      821773570  4  2 Bf  -     -     -          505   10    0 
Slim      821773606  5  1 Bc  b     -     -          495   20   30 
Slim      821773655  4  4 c   c     bc    r          505  100  185 
Slim      821773715  5  3 f   -     -     -          590    0    0 
Slim      821773841  5  2 Bf  -     -     -          590   10    0 
Slim      821773868  5  1 Bf  -     -     -          580    5    0 
Slim      821773893  5  5 c   c     c     k          575   40   95 Js 7s
Slim      821773942  6  4 f   -     -     -          630    0    0 
Slim      821773991  7  3 cc  c     k     f          630   30    0 
Slim      821774074  6  1 Bk  kf    -     -          600   10    0 
Slim      821774111  6  1 Bc  k     k     b          590   30   60 
Slim      821774261  5  5 f   -     -     -          620    0    0 
Slim      821774273  4  3 c   rc    b     c          620   80  165 As 3c
Slim      821774336  5  2 Bf  -     -     -          705   10    0 
Slim      821774352  5  1 BQ  -     -     -          695    5    0 
Slim      821776755  9  8 c   kc    b     b          690   60  180 
Slim      821776859  8  6 f   -     -     -          810    0    0 
Slim      821777018  8  5 c   f     -     -          810   10    0 
Slim      821777128  8  4 c   c     b     b          800   60  130 
Slim      821777213  7  3 ccc bc    kc    kf         870   70    0 
Slim      821777312  7  2 Bk  k     f     -          800   10    0 
Slim      821777372  8  1 Bf  -     -     -          790    5    0 
Slim      821777486  8  7 f   -     -     -          785    0    0 
Slim      821777574  8  7 c   c     c     f          785   50    0 
Slim      821777682  9  6 c   rr    cc    c          735  150    0 2c 2d
Slim      821777812  8  4 fQ  -     -     -          585    0    0 
Slim      821859469  7  3 f   -     -     -          585    0    0 
Slim      821859536  7  2 Bc  c     c     k          585   50   70 Ad Kh
Slim      821859618  8  1 Bf  -     -     -          605    5    0 
Slim      821859713  6  6 f   -     -     -          600    0    0 
Slim      821859776  6  5 c   k     f     -          600   10    0 
Slim      821859829  5  4 f   -     -     -          590    0    0 
Slim      821859850  5  3 f   -     -     -          590    0    0 
Slim      821859902  5  2 Bk  k     f     -          590   10    0 
Slim      821859938  5  1 Bc  kc    kc    k          580   40   90 Tc 5s
Slim      821860000  5  5 c   c     c     c          630   60    0 5s 5c
Slim      821860060  5  4 f   -     -     -          570    0    0 
Slim      821860090  6  3 c   k     rc    rr         570  150  315 6s Qh
Slim      821860178  6  2 Bk  k     k     k          735   10    0 3c 2h
Slim      821860227  7  1 Bf  -     -     -          725    5    0 
Slim      821860277  6  6 f   -     -     -          720    0    0 
Slim      821860305  6  5 f   -     -     -          720    0    0 
Slim      821860346  6  4 f   -     -     -          720    0    0 
Slim      821860396  6  3 f   -     -     -          720    0    0 
Slim      821860442  6  2 Bk  k     k     kf         720   10    0 
Slim      821860492  6  1 Bc  kf    -     -          710   10    0 
Slim      821860521  6  6 f   -     -     -          700    0    0 
Slim      821860546  6  5 f   -     -     -          700    0    0 
Slim      821860560  6  4 f   -     -     -          700    0    0 
Slim      821860595  6  3 ccc kc    kc    kc         700   90    0 Jd Ad
Slim      821860677  6  2 Bc  kf    -     -          610   20    0 
Slim      821860742  7  1 Bc  kc    kc    kc         590   80    0 6c As
Slim      821860818  9  9 f   -     -     -          510    0    0 
Slim      821860878  9  8 f   -     -     -          510    0    0 
Slim      821860915 10  7 f   -     -     -          510    0    0 
Slim      821860960 10  6 f   -     -     -          510    0    0 
Slim      821861028 11  5 cc  c     rr    -          510  110  210 
Slim      821861085 11  4 f   -     -     -          610    0    0 
Slim      821861128 11  3 c   k     c     rr         610  110    0 Qh Ac
Slim      821861270 11  2 Bf  Q     -     -          500   10    0 
Slim      822033449 12  1 Bc  kf    -     -          490   10    0 
Slim      822033512 12 12 f   -     -     -          480    0    0 
Slim      822033596 12 11 c   bc    c     r          480  110  345 Qh Ah
Slim      822033681 12 10 c   b     b     b          715   60    0 Ac 9h
Slim      822033749 12  9 c   c     k     f          655   20    0 
Slim      822033831 12  8 f   -     -     -          635    0    0 
Slim      822033884 12  7 f   -     -     -          635    0    0 
Slim      822033955 12  7 c   k     f     -          635   10    0 
Slim      822034015 10  3 Q   -     -     -          625    0    0 
Slim      822038172  6  4 f   -     -     -          625    0    0 
Slim      822038199  6  3 c   b     b     -          625   40   90 
Slim      822038253  7  2 Bf  -     -     -          675   10    0 
Slim      822038379  7  1 Bc  kc    kf    -          665   20    0 
Slim      822038603  6  6 c   f     -     -          645   20    0 
Slim      822038660  6  5 f   -     -     -          625    0    0 
Slim      822038769  6  4 f   -     -     -          625    0    0 
Slim      822038851  7  4 f   -     -     -          625    0    0 
Slim      822038925  7  3 ccf -     -     -          625   20    0 
Slim      822039122  6  2 Bc  k     k     b          605   40   85 
Slim      822039203  6  1 Bf  -     -     -          650    5    0 
Slim      822039262  6  6 f   -     -     -          645    0    0 
Slim      822039340  6  5 f   -     -     -          645    0    0 
Slim      822039356  5  3 cc  bc    k     b          645   60  140 
Slim      822039432  5  2 Bk  k     k     kf         725   10    0 
Slim      822039493  5  1 Bf  -     -     -          715    5    0 
Slim      822039551  5  5 c   c     b     -          710   40  105 
Slim      822039620  5  4 cc  r     b     b          775   80  180 
Slim      822039716  5  3 f   -     -     -          875    0    0 
Slim      822039794  5  2 Bk  k     k     k          875   10    0 2s 7h
Slim      822039856  3  1 Bc  kc    kr    brr        865  170    0 6d Td
Slim      822039940  5  5 f   -     -     -          695    0    0 
Slim      822039973  5  4 f   -     -     -          695    0    0 
Slim      822040006  5  3 f   -     -     -          695    0    0 
Slim      822040098  5  2 Bf  -     -     -          695   10    0 
Slim      822040160  5  1 Bf  -     -     -          685    5    0 
Slim      822040232  5  5 f   -     -     -          680    0    0 
Slim      822040308  5  4 f   -     -     -          680    0    0 
Slim      822040365  5  3 f   -     -     -          680    0    0 
Slim      822040418  5  2 Bf  -     -     -          680   10    0 
Slim      822040499  5  1 Bc  b     k     k          670   20    0 3h 6h
Slim      822040566  5  5 c   bc    f     -          650   30    0 
Slim      822040715  5  4 f   -     -     -          620    0    0 
Slim      822040789  5  3 f   -     -     -          620    0    0 
Slim      822040842  5  2 Bk  bc    k     f          620   30    0 
Slim      822040953  5  1 Bc  k     b     bc         590   80    0 Ah Td
Slim      822041032  5  5 c   b     b     b          510   60  160 
Slim      822041145  6  4 cf  -     -     -          610   10    0 
Slim      822041267  6  3 f   -     -     -          600    0    0 
Slim      822041350  6  2 Bk  b     -     -          600   20   70 
Slim      822041415  7  1 Bc  kc    b     b          650   60  150 
Slim      822041507  7  7 f   -     -     -          740    0    0 
Slim      822041591  7  6 cf  -     -     -          740   10    0 
Slim      822041683  7  5 f   -     -     -          730    0    0 
Slim      822041790  7  4 c   b     b     b          730   60  150 
Slim      822041889  7  3 f   -     -     -          820    0    0 
Slim      822041963  8  2 Bf  -     -     -          820   10    0 
Slim      822042087  8  1 Bf  -     -     -          810    5    0 
Slim      822042161  8  8 c   c     c     b          805   80    0 7c 7h
Slim      822042247  8  7 f   -     -     -          725    0    0 
Slim      822042358  8  6 c   b     b     -          725   40    0 Ah 2c
Slim      822042448  8  5 c   c     b     b          685   70    0 7d 7c
Slim      822042577  8  4 c   brc   brc   b          615  150    0 Ac 6d
Slim      822042747  9  2 Bf  -     -     -          465   10    0 
Slim      822042819  9  1 Br  brc   b     b          455  120    0 Kd Jd
Slim      822042952  7  7 cc  r     bc    k          335   80    0 Jh Qs
Slim      822043057  7  6 r   k     c     c          255   60    0 Td Qs
Slim      822043134  6  4 c   k     fQ    -          195   10    0 
