sct       812324668  6  3 r   bf    -     -         1000   60    0 
sct       812324790  6  2 Bf  -     -     -          940   10    0 
sct       812324803  6  1 Bf  -     -     -          930    5    0 
sct       812324830  6  6 c   k     f     -          925   10    0 
sct       812324908  6  5 f   -     -     -          915    0    0 
sct       812324950  6  4 f   -     -     -          915    0    0 
sct       812325006  6  3 f   -     -     -          915    0    0 
sct       812325060  6  2 Bf  -     -     -          915   20    0 
sct       812325242  6  1 Bf  -     -     -          895   10    0 
sct       812325294  5  5 f   -     -     -          885    0    0 
sct       812325306  5  4 f   -     -     -          885    0    0 
sct       812325316  5  3 f   -     -     -          885    0    0 
sct       812325321  5  2 Bf  -     -     -          885   40    0 
sct       812325330  5  1 Bf  -     -     -          845   20    0 
sct       812325342  5  5 f   -     -     -          825    0    0 
sct       812325349  5  4 f   -     -     -          825    0    0 
sct       812325382  5  3 f   -     -     -          825    0    0 
sct       812325389  5  2 Bf  -     -     -          825   40    0 
sct       812325418  5  1 Bf  -     -     -          785   20    0 
sct       812325647  5  5 f   -     -     -          765    0    0 
sct       812325649  5  4 f   -     -     -          765    0    0 
sct       812325653  5  3 f   -     -     -          765    0    0 
sct       812325666  5  2 Bf  -     -     -          765   40    0 
sct       812325669  4  1 Bf  -     -     -          725   40    0 
sct       812325670  4  4 f   -     -     -          685    0    0 
sct       812325671  4  3 f   -     -     -          685    0    0 
sct       812325672  4  2 Bf  -     -     -          685   80    0 
sct       812325675  4  1 Bf  -     -     -          605   40    0 
sct       812325678  4  4 f   -     -     -          565    0    0 
sct       812325680  4  3 f   -     -     -          565    0    0 
sct       812325681  4  2 Bf  -     -     -          565   80    0 
sct       812325686  4  1 Bf  -     -     -          485   40    0 
sct       812325688  4  4 f   -     -     -          445    0    0 
sct       812325694  4  3 f   -     -     -          445    0    0 
sct       812325695  4  2 Bf  -     -     -          445   80    0 
sct       812325696  4  1 Bf  -     -     -          365   40    0 
sct       812325697  4  4 f   -     -     -          325    0    0 
sct       812325698  4  3 f   -     -     -          325    0    0 
sct       812325699  4  2 Bf  -     -     -          325   80    0 
sct       812325700  4  1 Bf  -     -     -          245   40    0 
sct       812325705  4  4 f   -     -     -          205    0    0 
sct       812325707  4  3 f   -     -     -          205    0    0 
sct       812325708  4  2 Bf  -     -     -          205   80    0 
sct       812325719  4  1 Bf  -     -     -          125   40    0 
sct       812325727  4  4 f   -     -     -           85    0    0 
sct       812325734  4  3 f   -     -     -           85    0    0 
sct       812325735  4  2 Bf  -     -     -           85   80    0 
sct       812325743  4  1 BA  -     -     -            5    5    0 Qd 2d
